footer{
    background-color: #333;
    color: #eee;
    height: 10rem;
}
footer .container{
    justify-content: center;
}
footer .footer-item{
    flex: 1;
}
footer .line{
    background-color: #aaa;
    height: .1rem;
    width: 100%;
}